$font_path: '~@/assets/fonts/gt-fonts';

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-ULight.woff);
  font-weight: 100;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-Thin.woff);
  font-weight: 200;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-Light.woff);
  font-weight: 300;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-Bold.woff);
  font-weight: 600;
}

@font-face {
  font-family: gt;
  src: url(~@/assets/gt-fonts/GT-Eesti-Pro-Display-UBold.woff);
  font-weight: 700;
}

